.auth-link {
  padding: 10px;
  text-decoration: none;
  color: #000;
  border: 1px solid transparent;
  display: inline-block;
  border-radius: 5px;
  margin-left: 20px;
}

.signup {
  color: #52c41a;
  border: 1px solid #52c41a;
}
.signup:hover {
  border-color: #1890ff;
}
