.article {
  margin-top: 25px;
  background: #fff;
  padding: 15px 20px 25px;
  border-radius: 5px;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.15);
}

.article.single-page {
  min-height: calc(100vh - 125px);
}

.header {
  display: flex;
  justify-content: space-between;
}

.top {
  display: flex;
  align-items: center;
}

.title {
  margin: 0;
  color: #1890ff;
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  margin-right: 15px;
}

.likes {
  position: relative;
  color: rgba(0, 0, 0, 0.75);
  font-size: 12px;
  line-height: 22px;
  padding-left: 20px;
  border: none;
  background: none;
  cursor: pointer;
}

.likes::before {
  content: url('../../img/heart.svg');
  position: absolute;
  width: 15px;
  height: 15px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.likes.liked::before {
  content: url('../../img/liked-heart.svg');
}

.likes[disabled] {
  cursor: default;
}

.author-box,
.left {
  display: flex;
}

.left {
  flex-direction: column;
  margin-right: 12px;
}

.right {
  width: 46px;
  height: 46px;
}

.right img {
  border-radius: 100%;
}

.tag {
  font-size: 12px;
  line-height: 14px;
  border: 1px solid grey;
  padding: 2px 5px;
  border-radius: 2px;
  display: inline-block;
  margin-right: 5px;
}

.author {
  font-size: 18px;
  line-height: 28px;
}

.date {
  color: rgba(0, 0, 0, 0.5);
  font-size: 12px;
  line-height: 22px;
}

.description {
  font-size: 12px;
  line-height: 20px;
  max-width: 682px;
}

.description.single {
  color: #8c8c8c;
}

.body {
  margin-top: 25px;
  min-height: calc(100vh - 280px);
  word-break: break-all;
}

.body p {
  color: black;
  font-size: 18px;
  line-height: 22px;
  text-align: left;
}

.description-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.buttons {
  position: relative;
  flex-shrink: 0;
}

.edit,
.delete {
  border: 1px solid #52c41a;
  color: #52c41a;
  border-radius: 4px;
  padding: 3px 20px;
  background: none;
  cursor: pointer;
  margin-left: 10px;
}

.delete {
  border-color: #f5222d;
  color: #f5222d;
}
