.nav {
  display: flex;
  align-items: center;
  gap: 27px;
}

.profile {
  display: flex;
  align-items: center;
  gap: 13px;
}

.avatar {
  width: 46px;
  height: 46px;
}

.avatar img {
  border-radius: 100%;
}

.create {
  color: #52c41a;
  border: 1px solid #52c41a;
  padding: 2px 10px;
  border-radius: 5px;
}

.create:hover,
.logout:hover {
  border-color: #40a9ff;
}

.username {
  font-size: 18px;
  line-height: 28px;
  color: #000;
}

.logout {
  font-size: 18px;
  line-height: 28px;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 5px 10px;
  color: #000;
}
